@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* shared-styles */

/* banner-styles */

.banner-bg{
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    padding: 170px;
    background-color: rgba(7, 2, 17, 0.5);
    background-blend-mode: overlay;
    background-image: url('assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-contents{
    width: 1000px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    text-align: center;
}

.banner-contents>h5{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
}

.banner-contents>h1{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-contents>p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 32px;
}

.banner-contents>button{
    background-color: rgb(82, 195, 3);
    border: none;
    border-radius: 8px;
    padding: 21px 30px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}

/* food-menu-styles */
.food-menu{
    border: 2px solid red;
    width: 1320px;
    height: 1080px;
    margin: 0 auto;
}

.food-menu-texts{
    text-align: center;
    padding: 150px;
}

.food-menu-texts>p{
    color: rgba(16, 16, 16, 0.7);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.food-menu-texts>h1{
    color: rgb(16, 16, 16);
    font-size: 48px;
    font-weight: 700;
}

.food-menu-cards{
    display: flex;
    text-align: center; /* Need explanation of this line!! justify-content kaj kore nai!! But text-align kaj korse... */
}

.card1>button, .card2>button, .card3>button {
    margin: 32px auto;
    background-color: rgba(82, 195, 3, 0.15);
    border: none;
    border-radius: 8px;
    padding: 14px 32px;
    color: rgb(16, 16, 16);
    font-size: 24px;
    font-weight: 600;
}

.card1>h1, .card2>h1, .card3>h1{
    color: rgb(16, 16, 16);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 24px;
}

.card1>p, .card2>p, .card3>p{
    color: rgba(16, 16, 16, 0.7);
    font-size: 18px;
    font-weight: 500;
}